<div class="played-cards-area">
  <div class="played-cards-area__grid">
    <!-- Row 0: opponent -->
    @for (card of opponentRow(); track $index) {
      @if (card) {
        <app-card-view [card]="card" class="played-cards-area__item" />
      } @else {
        <div class="played-cards-area__slot-empty played-cards-area__item"></div>
      }
    }
    @for (_ of [].constructor(opponentPadding()); track $index) {
      <div class="played-cards-area__slot-empty played-cards-area__item"></div>
    }

    <!-- Row 1: player -->
    @for (card of selfRow(); track $index) {
      @if (card) {
        <app-card-view [card]="card" class="played-cards-area__item" />
      } @else {
        <div class="played-cards-area__slot-empty played-cards-area__item"></div>
      }
    }
    @for (_ of [].constructor(selfPadding()); track $index) {
      <div class="played-cards-area__slot-empty played-cards-area__item"></div>
    }
  </div>
</div>
