<div class="truco-response-panel">
  <div class="truco-response-panel__tab-group">
    @if (options().quiero) {
      <button
        class="truco-response-panel__tab-btn truco-response-panel__tab-btn--quiero"
        (click)="onQuiero()"
        type="button"
      >
        Quiero
      </button>
    }
    @if (options().noQuiero) {
      <button
        class="truco-response-panel__tab-btn truco-response-panel__tab-btn--no-quiero"
        (click)="onNoQuiero()"
        type="button"
      >
        No Quiero
      </button>
    }
    @if (options().quieroYMazo) {
      <button
        class="truco-response-panel__tab-btn truco-response-panel__tab-btn--mazo"
        (click)="onQuieroYMazo()"
        type="button"
      >
        <span class="truco-response-panel__label--stacked">
          <span class="truco-response-panel__label-line">Quiero y me</span>
          <span class="truco-response-panel__label-line">voy al mazo</span>
        </span>
        <span class="truco-response-panel__label--full">Quiero y me voy al mazo</span>
      </button>
    }
  </div>
</div>
