.player-hand {
  display: flex;
  gap: var(--t3-gap-xs);
  justify-content: center;
  align-items: center;
  padding: var(--t3-gap-xs);
  min-height: calc(64px * 3 / 2 + var(--t3-gap-xs) * 2);
}

.player-hand__card-btn {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &--blocked {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }
}

.player-hand app-card-view {
  width: 64px;
}

@media (min-width: 1024px) {
  .player-hand {
    min-height: calc(88px * 3 / 2 + var(--t3-gap-sm) * 2);
  }

  .player-hand app-card-view {
    width: 88px;
  }
}
