<div class="envido-submenu">
  @for (item of items(); track item.call; let last = $last) {
    <button
      class="envido-submenu__btn"
      [class.envido-submenu__btn--enabled]="item.enabled"
      [disabled]="!item.enabled"
      appTapAction
      (tap)="onOptionClick(item)"
      type="button"
    >
      <span class="envido-submenu__btn-label--stacked">
        @for (line of item.stackedLines; track line) {
          <span class="envido-submenu__btn-label-line">{{ line }}</span>
        }
      </span>
      <span class="envido-submenu__btn-label--full">{{ item.label }}</span>
    </button>
    @if (!last) {
      <div class="envido-submenu__divider"></div>
    }
  }
  <div class="envido-submenu__divider"></div>
  <button
    class="envido-submenu__btn envido-submenu__btn--back"
    [class.envido-submenu__btn--enabled]="backEnabled()"
    [disabled]="!backEnabled()"
    appTapAction
    (tap)="onBackClick()"
    type="button"
  >
    Volver
  </button>
</div>
