<div class="game-board">
  <app-match-status-panel [view]="view()" />
  <app-opponent-area [opponent]="view().opponent" />
  <app-played-cards-area
    [selfPlayedInCurrentHand]="view().self.playedInCurrentHand"
    [opponentPlayedInCurrentHand]="view().opponent.playedInCurrentHand"
    [selfPlayedInPreviousHands]="view().self.playedInPreviousHands"
    [opponentPlayedInPreviousHands]="view().opponent.playedInPreviousHands"
  />
  <app-player-area [self]="view().self" />
  <app-placeholder-available-actions-area />
</div>
